[2019-03-22 14:32] matt-long opened #5 "brainstorm topics for June CGD tutorial"
Let's enumerate topics that deserve formal instruction at the June CGD tutorial.

- Python basics
- git
- Python package design

[2019-03-26 22:34] andersy005 commented on #5
- Interfacing Python with Fortran/C/C++ source code

[2019-04-01 18:05] mnlevy1981 commented on #5
Is "plotting with `cartopy`" too advanced of a topic? Or would something like that / a FAQ based around "I know how to do [something] in NCL, how do I do it in python instead" be appropriate?

[2019-04-02 18:45] matt-long commented on #5
https://python-packaging.readthedocs.io/en/latest/

[2019-04-11 19:37] matt-long opened #12 "analysis environment inconsistent"
I just updated environments/env-analysis.py to address a [bug in MetPy](https://github.com/Unidata/MetPy/issues/998). However, when I update the environment using conda, I get the following message.

[code]

[2019-05-01 21:03] matt-long opened #13 "slurm_load_jobs error"
When I attempt to run jlab-dav, I get

This seems to be intermittent.  `execdav` seems to work ok. Is there something we should be doing differently in `jlab-dav`?

[2019-05-15 17:19] matt-long opened #14 "update jobqueue.yaml"
`dashboard` has changed names.

Is the slurm configuration actually a good one?

[2019-05-17 16:55] roberttomas opened #16 "conda init tcsh results in: Illegal variable name."
I ran conda init tcsh and it modified my .tcshrc file, but when I login or source .tcshrc, the mods result in an error:

Illegal variable name.  The offending file is:

/gpfs/u/home/tomas/.tcshrc

and the I believe the  illegal variable error is coming from this line:

__conda_setup="$('/glade/work/tomas/miniconda3/bin/conda' 'shell.tcsh' 'hook' 2> /dev/null)"

[2019-05-17 17:13] matt-long commented on #16
As an initial workaround, I think you can remove those lines from your .tcshrc file.

This is a common problem, e.g.
https://github.com/ESMValGroup/ESMValTool/issues/301

I am not sure what the correct solution is, other than switching to `bash`.

[2019-05-17 17:57] andersy005 commented on #16
@roberttomas, @matt-long  this is a known issue and there's a fix in the works for the next conda release: https://github.com/conda/conda/pull/8591

[2019-05-17 19:16] roberttomas commented on #16
I believe [conda/conda#8591](url) addresses different, but related issue to the issue I brought up.  The focus of the discussion at that link is on the lines immediately below the line I pointed to  that resulted in an "Illegal variable name" error message.

__conda_setup="$('/glade/work/tomas/miniconda3/bin/conda' 'shell.tcsh' 'hook' 2> /dev/null)"

[2019-05-24 14:25] matt-long commented on #13
I think this was a system issue. Everything works fine now.

[2019-05-24 14:25] #13 closed

[2019-05-24 14:34] matt-long commented on #14
I think the SLURM config is reasonable, however, I would like to support good defaults for Hobart.

Hobart has 48 cores per node:
http://www.cgd.ucar.edu/systems/documentation-toc/02.11.03_-_HPC_Cluster.html

resource_spec` needs to be specified in `PBSCluster`. I was able to get it working with the following.

[code]

We need to have
./config/jobqueue-cheyenne.yaml
./config/jobqueue-hobart.yaml

[2019-05-28 22:24] wwieder commented on #16
for the purposes of the py tutorial next week should we plan on using bash?

[2019-05-28 22:28] matt-long commented on #16
@wwieder, I don't think there are any show stoppers with respect to tcsh, it's just that the shell integration is limited. I believe you can still manage environments, etc. just fine. I would suggest, however, that if you don't have compelling reasons not to switch to bash for the long-term, you should switch to bash.

[2019-05-30 17:35] clyne opened #18 "Clarify which hosts tutorial setup are to be run on"
@matt-long It would be good to clarify in the tutorial setup instructions in the readme which host is being used for each step. E.g. do you install conda on your laptop or on cheyenne?

[2019-05-30 17:40] matt-long commented on #18
Thanks @clyne, I added the following.

[2019-05-30 17:40] #18 closed

[2019-07-03 14:49] edougherty32 opened #19 "Trouble launching Jupyter Notebook after Cheyenne udpdate"
Hi all, forgive me if this isn't the correct place for this issue, but I am having an issue launching Jupyter notebook in the pangeo environment after the Cheyenne upgrade.

I follow instructions [here](http://pangeo.io/setup_guides/hpc.html) to launch the notebook, and when I enter:

`jupyter lab --no-browser --ip=`hostname` --port=8877`

I receive the following error:

[code]

I have never had i

[2019-07-03 15:32] andersy005 commented on #19
@edougherty32,

I am not sure what the issue is because I am able to launch jupyter lab:

[code]

- Which directory are you in when you launch the jupyter server?
- What is the output of `echo $XDG_RUNTIME_DIR`?

[2019-07-03 15:36] edougherty32 commented on #19
@andersy005–I launch it from my work directory (/glade/work/doughert), which has always worked for me before.

The output of `echo $XDG_RUNTIME_DIR` is
`/run/user/24367`

[2019-07-03 15:51] andersy005 commented on #19
Can you check for the owner of `/run/user/24367` directory with

[code]

[2019-07-03 15:53] edougherty32 commented on #19
@andersy005 – I tried that but received the following error message:

`ls: cannot access '/run/user/24367': No such file or directory`

So I'm not sure what is going on here.

[2019-07-03 15:56] kmpaul commented on #19
This should be reported to CISL Help.  It is most certainly a consequence of the Cheyenne upgrades and they should be notified of the issue.

[2019-07-03 15:57] andersy005 commented on #19
It appears that the `$XDG_RUNTIME_DIR` doesn't exist yet (probably once cheyenne is fully operational again, the issue may go away). For the time being, you may want to unset the `XDG_RUNTIME_DIR`:

`unset XDG_RUNTIME_DIR` and launch jupyter again

[2019-07-03 15:59] edougherty32 commented on #19
Thanks @andersy005 – that did the trick.

@kmpaul – I'll notify CISL help as you suggested, because I'm sure I'm not the only one with this issue.

[2019-07-03 15:59] #19 closed

[2019-07-03 17:48] davidedelvento commented on #19
I am not able to reproduce this issue and I am working with the user about it.

FWIW, start-jupyter works fine for CISL-supported python's as described at https://www2.cisl.ucar.edu/resources/computational-systems/cheyenne/software/python

[2019-07-17 12:58] klindsay28 opened #20 "error from qstat in jlab-ch"
When I try to run jlab-ch, I get the following (truncated) output:
[code]

It looks like something is going wrong with extracting the job id from the output generated by qsub. It is quite possible that the format of the output from qsub has changed with the updates to cheyenne. That said, the bash for extracting the job id is `sjob=${s%.*}`. I don't know bash well enough to know what this is doing

[2019-07-17 13:14] matt-long commented on #20
I suspect that the string returned from PBS has changed following machine downtime. It now returns something like

and `sjob=${s%.*}` is everything before the last ".".  I changed this to `sjob=${s%%.*}` and it works.

However, I am not getting another error from Jupyter
[code]

I haven't used this script in a while, since JupyterHub. `jlab-dav` I use all the time without issue.

[2019-07-17 14:05] klindsay28 commented on #20
I've generally not been using jupyterhub.ucar.edu because the git hash
based provenance tracking that I'm using in my notebooks doesn't work there
(even though it works fine with jlab-ch and the same conda environment).

I usually use jlab-dav. I tried using jlab-ch this morning because I've
been getting multiple socket timeout errors with slurm this morning that
cause dask to fail within jlab-dav

[2019-07-17 14:14] matt-long commented on #20
This looks like the issue I am encountering
https://github.com/jupyter/docker-stacks/issues/718

[2019-07-17 15:33] klindsay28 commented on #20
After replacing `sjob=${s%.*}` with `sjob=${s%%.*}`, I'm getting the same error that you're getting.

[2019-07-17 17:26] matt-long commented on #20
Ok, I have a fix. I added

to the job here-document. This is documented here
https://jupyter.readthedocs.io/en/latest/projects/jupyter-directories.html#runtime-files

[2019-07-17 17:26] #20 closed

[2019-07-21 00:21] andersy005 commented on #16
Changes that are supposed to address this issue are included in conda releases `>=4.7.4`.

It would be great if a tcsh user with a recent version of conda can confirm whether this is still an issue.

[2019-07-21 00:22] #5 closed

[2019-07-26 22:04] apendergrass opened #22 "jlab-dav not working"
I've been using jupyter notebook on casper successfully... until today. I even did it yesterday.

I've been starting it from jlab-dav.

Today this was the error I got:

[code]

[2019-07-26 22:40] andersy005 commented on #22
@apendergrass,

It appears that for some reasons (unbeknownst to me), SLURM has been unstable/inconsistent for the last few days. As a result, sometimes my jobs don't do through the queue and/or I get errors that look like:

[code]

So, it's likely that the error is due to a glitch in the system, and if you try again at another time, it may work :)

[2019-07-26 22:41] andersy005 commented on #22
Ccing @jbaksta as he may know what is really going on.

[2019-07-26 22:55] apendergrass commented on #22
Cool, thanks! I emailed cislhelp too, since the message said too. Perhaps it will work after it has a weekend of rest...

[2019-07-27 14:15] jbaksta commented on #22
@apendergrass that should only pop up if you `sbatch` submission was missing the `-t` option to specify the walltime.

@andersy005 you issue the other day was part of a collection of other issues which should be resolved at this point.

[2019-07-27 14:31] apendergrass commented on #22
@jbaksta i used the exact same script successfully on Thursday. The script was doing the calling to sbatch, apparently correctly. I think it was using a variable called wallclock to call.

[2019-07-27 14:32] matt-long commented on #22
`jlab-dav` uses the `-t` option. I have encountered issues like this previously and I attribute them to system-wide issues with Slurm.  `jlab-dav` is working for me right now.

[2019-07-27 14:41] apendergrass commented on #22
@matt-long Interesting. Still giving me the same error.

[2019-07-27 14:46] jbaksta commented on #22
@apendergrass since `jlab-dav` is just BASH, please run it as `bash -x jlab-dav` and post the output if you don't mind.

[2019-07-27 14:46] matt-long commented on #22
It looks like your account is not being set. Try using the `-a` option or set an environment variable `JOB_ACCOUNT` with the project number you want to use.

[2019-07-27 14:51] matt-long commented on #22
I just replicated the problem by deleting my `JOB_ACCOUNT` environment variable.

This code in `jlab-dav` used to set `JOB_ACCOUNT`, but no longer seems to work.
[code]

The `-t` error is a red-herring.

[2019-07-27 14:52] apendergrass commented on #22
@matt-long yes I just came to the same conclusion. It totally works when I set JOB_ACCOUNT. Seems that's what changed from Thursday to Friday.  Thanks for your help everyone!

[2019-07-27 14:53] #22 closed

[2019-07-27 14:53] jbaksta commented on #22
@matt-long then there is a bug in the slurm job submission filter that I'll work on fixing.

[2019-07-27 14:54] matt-long commented on #22
@jbaksta, thanks!

[2019-07-27 14:59] jbaksta commented on #22
Actually, based on repeating this, I'm going to open up an issue against jlab-dav needing to check for zero-length variables or null/uninitialized variables as well as the submit filter. The instance happens (arguably how it should) with the following:

`sbatch -A -t 5:00 ...` and therefore account is taken as '-t' and then there is no provided `-t` option to the submission. '-t' could be a comple

[2019-07-27 15:06] matt-long commented on #22
I just pushed a change to `jlab-dav`; we were checking for some empty variables, but not `JOB_ACCOUNT`. This new version traps this error.

Hopefully this script becomes obsolete once JupyterHub works on DAV.

[2019-08-02 19:28] andersy005 commented on #14
Is it safe to close this issue since it was fixed in https://github.com/NCAR/ncar-jobqueue/pull/12?

[2019-08-02 19:50] jhamman commented on #14
Just popping in to encourage you all to suggest edits to `/glade/u/apps/config/dask/dask.yaml` via the cisl help desk.

This file currently looks like:

[code]

but if you feel like there are more reasonable default values, we can suggest edits.

[2019-08-28 22:34] #12 closed

[2019-08-28 22:34] #14 closed

[2019-08-29 17:56] jukent opened #25 "Create Welcome.ipynb"
Create a notebook that introduces Jupyter notebooks!

[2019-08-29 17:58] jukent opened #26 "Create OHC notebook#1 - opening datasets in Xarray."
How to import modules?
What is in a dataset?
What is the difference between a datset and a dataarray?

[2019-08-29 18:16] andersy005 commented on #25
@jukent, I moved things around. You may want to sync your local branch with the upstream branch if you haven't done so yet

[2019-08-29 18:19] jukent commented on #25
I looked for that. Thanks for doing so!

[2019-08-29 18:21] jukent commented on #25
So the concepts to show are:

What is a notebook file anyway?
Kernels
The dashboard
Cell blocks:
 - code
 - raw
 - markdown (and briefly to show that you can display equations, change font sizes, italics, bold, have an unexecutable code block inside of markdown, etc)

Does that order make sense?

[2019-08-30 01:16] andersy005 commented on #25
@jukent, sorry I didn't get to provide feedback for #27. I will take a look at it some time tomorrow and will see if I can anything to what you did in a PR.

[2019-08-30 01:16] andersy005 commented on #25
Let's keep this open for now

[2019-08-30 01:22] andersy005 opened #29 "Notebook Template"
Could we adopt a template for notebooks in this repository? My proposition is to have:

- Table of contents section with links to different sections in the notebook itself
- A `learning objectives` section at the beginning of the notebook
- A `Going Further` section at the end of the notebook. This section could have references to documentation sections that are relevant to what was covered in the

[2019-08-30 01:24] matt-long commented on #29
Good idea. Unidata’s notebooks have something like this.

[2019-08-30 15:55] jukent commented on #25
Yeah I realized the screenshots I was taking were from my local Jupyter deployment. I probably want to make sure they look exactly as they will on Cheyenne.

[2019-08-30 15:56] jukent commented on #29
Yes this is a great idea Anderson. We also want to have consistent Markdown formatting.

[2019-08-30 16:04] andersy005 commented on #25
Can you upload them inside a new `notebooks/assets` directory as part of #28 ? I would like to take a look at them

[2019-08-30 21:32] matt-long opened #30 "ensure configure works with existing install"
Many people may already have Python setup. Is the configure script robust in this context?

[2019-08-31 01:32] andersy005 commented on #30
This is being handled by:

https://github.com/NCAR/ncar-python-tutorial/blob/0753eeee245f241664a8efd565965f36b5695ec0/setup/configure#L44
https://github.com/NCAR/ncar-python-tutorial/blob/0753eeee245f241664a8efd565965f36b5695ec0/setup/configure#L55-L60

https://github.com/NCAR/ncar-python-tutorial/blob/0753eeee245f241664a8efd565965f36b5695ec0/setup/configure#L80-L85

When a `conda` installation is

[2019-09-03 17:44] mnlevy1981 opened #38 "Increase stdout from setup/configure?"
I got a new laptop and after a week of use realized I still needed to install jupyter... I figured I'd go ahead and set up the recommended analysis environment as well. Per the README, I ran `./setup/configure` and things seem to be stalled at

[code]

It's been 20+ minutes, and while I would not be surprised to learn that conda is doing _something_ behind the screens, a little more information on

[2019-09-03 17:56] mnlevy1981 commented on #38
I got impatient and `^C`ed out. I don't know if the traceback is useful:

[code]

I'm trying the command one more time -- if this doesn't work, I might blow away my conda installation and see what happens if `setup/configure` installs it for me.

[2019-09-03 18:02] andersy005 commented on #38
@mnlevy1981, thank you for reporting this issue.

Since we are using subprocess, one solution is to split the bash scripts into smaller scripts. Hopefully, this will helps us reporting back to the user every few minutes whenever each small task is done.  What do yo think?

[2019-09-03 18:09] andersy005 commented on #38
@mnlevy1981,

Can you try running

[code]

[code]

on their own and see what conda is doing?

[2019-09-03 18:10] mnlevy1981 commented on #38
@andersy005

That would be nice -- being able to see, for instance, if this was hanging in the `conda update conda` call or if it had moved on to updating `base` or creating `analysis` or whatever. If possible, could be also have timestamps when each of these processes end? Something like

[code]

(I'm sure there's a better format than above, but that's the level of information I'd find helpful).

[2019-09-03 18:17] mnlevy1981 commented on #38
Verifying I was able to update `base` and create `analysis` using the provided `yml` files, so it's unclear to me why `configure` was hanging where it was

[2019-09-03 18:26] andersy005 commented on #38
Glad to hear that individual steps work. Remember to run the post build script too:

[code]

[2019-09-03 18:36] mnlevy1981 commented on #38
`post_build` is failing:

[code]

[2019-09-03 18:41] andersy005 commented on #38
That is interesting! Does `/Users/mlevy/.local/share/` directory exist?

[2019-09-03 18:42] mnlevy1981 commented on #38
Nope! Not even `~/.local` itself:

[code]

[2019-09-03 18:46] andersy005 commented on #38
I see... We need to make sure that that directory exists and if doesn't, we should create it in the post build scripts..

When you get time, can you take a look at https://circleci.com/gh/NCAR/ncar-python-tutorial/75 and let me know what you thing in terms of the stdout info.

[2019-09-03 19:30] mnlevy1981 commented on #38
Making the directory doesn't seem to matter much, the error is still from the `--output` option (the `ls` results look the same)

[code]

Unless `cartopy` is supposed to be a python script created by one of the earlier scripts? I tried creating `~/.local/` and `post_build` failed as in https://github.com/NCAR/ncar-python-tutorial/issues/38#issuecomment-527584734, so I created `~/.local/share/` and

[2019-09-03 19:44] andersy005 commented on #38
Looking at this a bit more

It appears the `setup/download_cartopy_assets.py` script is not being passed to Python

[code]

I am going to investigate why $CARTOPY_ASSET_SCRIPT is null.

[2019-09-03 19:48] andersy005 commented on #38
@mnlevy1981

I know why this is happening. `$CARTOPY_ASSET_SCRIPT ` is set in `configure` script, and running the post build script on its own should fail since this variable doesn't exist outside of the subprocess called process.

Try running the original

[code]

[2019-09-03 20:07] andersy005 commented on #38
👍

I just added this in #40

[2019-09-03 20:23] andersy005 commented on #38
The latest version stdout:

[code]

@mnlevy1981, let me know if you give #40 the green light, and I merge it.

[2019-09-03 21:26] mnlevy1981 commented on #38
This worked, thanks! I'm not sure why `setup/configure` worked after I created the environments by hand either, but I'll take it.

(I responded to your comments about the PR itself in #40 -- off to a meeting now, but will try to finalize review before I leave for the night. Thanks for taking this on!)

[2019-09-03 22:47] #38 closed

[2019-09-04 15:35] kmpaul opened #41 "Configure script doesn't work on clean Mac"
I have the perfect laptop to test this configure script with!  It's brand new with nothing on it!

Currently, with no `python3` installed, I get an error when trying to run the script.

[2019-09-04 15:36] kmpaul commented on #41
Default installs of python on even the newest Macs are python 2.7.

[2019-09-04 15:38] kmpaul commented on #41
I like the idea of portability.  Most systems have some version of python installed, but we need to make this script support python 2 and 3.

[2019-09-04 17:36] matt-long opened #42 "jupyterlab_vim"
Can we add https://github.com/jwkvam/jupyterlab-vim to `post_build_base`?

cc @brittstephens

[2019-09-04 17:47] andersy005 commented on #41
It's such a shame @ Apple 😀

I was well aware of this fact, but I still chose to take a shortcut by making the script Python 3 compatible only :)

I concur

[2019-09-04 18:05] kmpaul commented on #41
Also, Macs don't ship with `wget` (only `curl`) which is used (by default) to download the Miniconda installer

[2019-09-04 18:08] kmpaul commented on #41
We also need to update the CircleCI scripts to _not_ use a base python3 container.  Rather, to use a base container that represents the default environment of someone who hasn't installed anything.

And we should create build jobs for linux (SUSE linux to mimic Cheyenne) and Mac and Windows.

[2019-09-04 18:22] kmpaul commented on #41
BTW, I'm working on an update for Mac OS.  I'll submit a PR shortly.

[2019-09-04 18:28] andersy005 commented on #41
I am afraid we won't be able to test it on Mac on Windows via CircleCI. Per CircleCI documentation, you need to have a subscription to a **paid** plan: https://circleci.com/docs/2.0/hello-world-macos/#prerequisites

[2019-09-04 18:30] kmpaul commented on #41
Ah.  I was afraid of that.

[2019-09-04 18:31] andersy005 commented on #41
Since conda is OS-agnostic, and all we need is wget, and python3 from the system, do we need to do this?

[2019-09-04 18:34] andersy005 commented on #41
Are there any functionality that is SUSE linux specific that we should be testing against?

[2019-09-04 18:36] kmpaul commented on #41
...Well, conda is _supposed_ to be OS-agnostic.  Can we trust that it actually is?

As for SLES specific functionality, I don't know.  Maybe not, and we can test with the same linux docker image but with different login shells.

[2019-09-04 18:40] kmpaul commented on #41
We could move to Travis which now supports both MacOS and Windows.

[2019-09-04 18:43] andersy005 commented on #41
Yes, we can :)

Testing against different login shells (bash, tcsh) seems crucial.

Regarding Windows support, looking back at our last hackathon in June, I didn't see any single windows user. Should we focus on getting this to work on windows at the moment?

[2019-09-04 18:45] andersy005 commented on #41
Supporting windows would be worth the effort when there's actual demand IMHO :)

[2019-09-04 19:01] kmpaul commented on #41
We had Windows users at the ACOM Python tutorial, but I haven't seen any since.

[2019-09-04 19:03] kmpaul commented on #41
And, frankly, the word could be spreading from early Windows users that if you have a Windows machine, it's not worth it.  I'd like to make sure that isn't an issue.

[2019-09-04 20:59] #41 closed

[2019-09-06 20:07] #26 closed

[2019-09-09 17:55] #25 closed

[2019-09-09 17:56] jukent opened #48 "Looking for plotting talks from last tutorial."
I found the advanced Xarray plotting tutorial -- archive/old-contents/notebooks/xarray/02-xarray-advanced-plotting.ipynb

but wasn't there a talk on Cartopy and data visualization in general? Is that stored in a different repo?

[2019-09-09 17:59] andersy005 commented on #48
@jukent,

Yes

https://github.com/ncar-hackathons/hands-on-examples/tree/master/visualization

[2019-09-09 18:02] jukent commented on #48
Nice quick answers.

I think I'll keep these as 4 separate notebooks (Xarray, Cartopy, Matplotlib, and Holoviews) that link to one another. But I will go in and edit them.

[2019-09-09 19:28] kmpaul opened #49 "Rename `sample_workflows` to `workflows`"

[2019-09-09 19:31] kmpaul opened #50 "Add Python basics to Welcome notebook"

[2019-09-09 20:51] kmpaul opened #52 "Check for `analysis` environment conflict"
Need to check if there already exists an `analysis` conda environment.  If it already exists, stop execution and tell the user to either (1) rename the environment or (2) remove the environment, and tell them the commands to do so.

Then they have to rerun the configure script.

[2019-09-09 20:57] kmpaul opened #53 "Write dask lecture material"
Content should include:

- NCAR & Dask jobqueue
- Dask array
- Adaptive scaling
- Dashboard (on laptop and Cheyenne)
- Xarray chunking best practices and rechunking
- Possibly: map_blocks and map_overlap

[2019-09-09 21:02] kmpaul opened #54 "Tutorial Data"
- [x] Need to identify the data needed for this tutorial.
- [x] Find a public place to host data so everyone can download it
- [x] Need to provide a script to download the data to other machine
- [x] Enable the configure script to automatically download data (if not on Cheyenne or Casper)
- [x] If on Cheyenne or Casper, provide soft-links to data

[2019-09-09 21:05] kmpaul commented on #42
If this gets installed, does this automatically change the key bindings for jupyterlab?  Or is it something you can opt in/out?

[2019-09-09 21:10] jukent commented on #54
This is the parent directory of the data -- /glade/collections/cmip/CMIP6/CMIP/NASA-GISS/GISS-E2-1-G/historical/r1i1p1f1/Omon/thetao/gn/v20180827

I will take some time this afternoon to dig through the subdirectories to the data used.

[2019-09-09 21:16] #49 closed

[2019-09-09 22:43] matt-long commented on #52
Rather than require the user to rename their environment, can we just rename ours?

[2019-09-09 23:47] bonnland opened #58 "Alternate text for OHC Notebook 1"
import xarray as xr

Did that work for you? If not, you do not have xarray installed in your current notebook environment. Check to make sure it reads "Python [conda env: analysis]"  in the top right corner of your jupyter notebook screen.  If it just says "Python" or something else, then click on the text to change the selection, so that your "analysis" environment is used.

[2019-09-09 23:51] andersy005 commented on #52
For simplicity, I renamed the analysis env from `analysis` --> `analysis-env`

[2019-09-10 00:34] kmpaul commented on #52
This won’t solve the problem if this repo gets used again in the future.

[2019-09-10 00:36] kmpaul commented on #52
There will always be name conflicts if we reuse this repo. So, I don’t think we should rename the environmental.

[2019-09-10 01:15] andersy005 commented on #54
@jukent, do we need all the 20 years worth of data or can we get a subset from this file?

[2019-09-10 01:32] andersy005 commented on #52
I am not sure what would be the right long-term solution for this issue (given that this repo might be used in the future).

If the consensus is to keep the current setup as is, feel free to close #59

[2019-09-10 01:37] andersy005 commented on #54
FYI:

`figshare` offers 20GB of free storage for account owners.  I am planning on hosting sample data (for users without an account on Cheyenne) under my figshare account if there are no objections

[2019-09-10 02:27] kmpaul commented on #52
I think the issue is that @matt-long uses his analysis env regularly, and therefore doesn’t want to have to rename it or delete it. He’s probably not the only one after the June tutorial.

So, I recommend that we choose a name that nobody would ever create for their own work. Like “python-tutorial”, **and** we implement the env name conflict check that we talked about for this issue.

And we provi

[2019-09-10 18:30] jukent commented on #54
We can subset it, but we're not nearing that 20GB limit - so is it something we should do anyway?

[2019-09-10 18:32] kmpaul commented on #54
What download speeds can we expect from figshare?

[2019-09-10 18:35] matt-long commented on #54
why not use the CGD ftp location we had setup for exactly this thing?

[2019-09-10 18:43] kmpaul commented on #54
Does the CGD ftp server allow anonymous download?  Who has permissions to upload?

[2019-09-10 18:57] andersy005 commented on #54
@matt-long, I've not looked into this yet. I will give it a try before exploring the figshare option

@kmpaul, this needs further exploration

I am going to looking into the CGD's ftp server option this afternoon, and I will let you know how this goes

[2019-09-10 19:21] andersy005 commented on #52
Here's what I have in #59

[code]

[2019-09-10 20:05] matt-long commented on #42
@brittstephens, do you know the answer?

[2019-09-10 20:07] andersy005 commented on #54
@kmpaul

Yes. As a smoke test you can try downloading this script:

`wget ftp://ftp.cgd.ucar.edu/archive/aletheia-data/test.sh`

As far as I know, Matt and I are among users with upload permissions.

[2019-09-10 20:09] andersy005 commented on #54
@matt-long,

I just figured  the FTP details out, and I am in favor of using the ftp server for sample data instead of figshare.

[2019-09-10 20:11] matt-long commented on #54
Good. Regarding @kmpaul question.

Ultimately, I think we want to setup some sort of version control and have a means of getting input from other groups, but include a gate-keeper. I don't know what the best solutions in this regard are.

[2019-09-10 20:20] kmpaul commented on #54
I think a small ftp service with versioned files might be something Jeff DLB’s division should provide.  They do this on a regular basis for  things like the RDA.

[2019-09-10 20:23] kmpaul commented on #52
This looks great!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 20:27] #52 closed

[2019-09-10 21:07] jukent commented on #54
I limited the data to 5 years, it is now > 600 MB,
The path on Cheyenne is:
/glade/u/home/jkent/tutorial_data/thetao_Omon_historical_GISS-E2-1-G_r1i1p1f1_gn_185001-185512.nc

[2019-09-10 22:33] kmpaul commented on #42
I've done some research on this.  JupyterLab extensions are enabled at installation time.  So, this would change the behavior for everyone, which is not desired.

You _could_ install this extension and then disable it with:

[code]

But then you'd have to go to the command line and execute:

[code]

to enable it.  However, requiring this is not much different than having the user install the exten

[2019-09-10 23:20] andersy005 commented on #30
Addressed in #59, and other previous PRs.

[2019-09-10 23:20] #30 closed

[2019-09-11 22:20] kmpaul opened #65 "OHC Notebook broken"
Currently, the OHC notebook is broken because the link to the data doesn't point to a file that exists.  We need to fix this ASAP.

CC @jukent

[2019-09-11 22:26] andersy005 commented on #65
This is work in progress, it will be resolved in #61

[2019-09-12 00:55] andersy005 commented on #48
Closing this for now... Feel free to re-open it.

[2019-09-12 00:55] #48 closed

[2019-09-12 00:55] andersy005 commented on #58
Addressed in #60

[2019-09-12 00:55] #58 closed

[2019-09-12 00:59] andersy005 commented on #50
This seems to have been addressed in a PR that I am unable to identify for the time being. Should we close this issue?

[2019-09-12 02:23] kmpaul commented on #50
I accidentally committed this directly to master. Sorry.

Yes. We can close this.

[2019-09-12 02:23] #50 closed

[2019-09-12 06:53] andersy005 opened #69 "CESMLE - Oxygen trend workflow is incomplete"
@matt-long,

I managed to get the oxygen trend notebook in this repo (#68) with a few changes. It is missing a few paragraphs explaining some of the science going on and/or computations.  When you get time, can you add some text explaining the important concepts?

I am going to merge #68 for the time being.

[2019-09-13 11:56] #65 closed

[2019-09-13 20:25] andersy005 commented on #53
@kmpaul

As I prepare to work on this, I am feeling decision paralysis creep in :). I am having a hard time deciding how to organizing all these Dask concepts in a way that doesn't confuse the user by jumping from one to another. My current plan is to have notebooks that are concise and limited to one or two topics, such that a reader can get through the example within a few minutes of reading.

D

[2019-09-13 20:49] kmpaul commented on #53
In terms of organizing, I would present subtopics in the order that people will actually encounter them in a typical workflow. In other words, consider one of the parallel workflows from the first day and talk about each Dask subtopic in the order that they might see them in that workflow.

Does that help?

[2019-09-13 22:10] andersy005 commented on #53
Yes, it does. Thank you!

[2019-09-16 21:10] #54 closed

[2019-09-16 21:11] kmpaul opened #77 "Python Basics Notebook"
Should be prepared to cover:

- Python Basics
    - Overview of basic structures
    - Packages vs modules
    - Scripts vs modules
    - Importing
    - ...
- NumPy package
- SciPy package
- stats package
- Pandas package
- Where to find things?
    - StackOverflow, Google, PyPI
- Where should you go to ask questions?
    - https://github.com/NCAR/python-toolbox-faq

[2019-09-17 20:14] andersy005 opened #82 "Troubleshooting"
## Option 1: Flexible channel priority

[code]

followed by

[code]

[2019-09-18 15:43] mnlevy1981 opened #85 "Are command line tools required for the `setup/configure` script on a Mac?"
Helping a user run `setup/configure` on macos 10.14.6, he was getting an error from `pip` that basically said `xcrun` was providing `invalid developer path`. This was fixed by running

[code]

I'm not sure how to check to see if the command line tools are available, and if it really is a requirement I'm not sure why it took until the morning of the tutorial for the issue to appear. (Possibly relat

[2019-09-18 15:51] mnlevy1981 opened #86 "conda activate drops user in /"
Same user as in #85 -- he had an old version of anaconda installed, and I ran `conda update conda` to bring it up to 4.7.12; when I first ran into #85 I thought the issue was related to his conda installation so we moved `~/anaconda3` -> `~/anaconda3-old` and let `setup/configure` install miniconda. After resolving #85 by installing the command line tools, `setup` ran successfully but when he runs

[2019-09-18 17:27] #53 closed

[2019-09-18 22:46] kmpaul commented on #77
Closed with #87

[2019-09-18 22:46] #77 closed

[2019-09-18 22:47] kmpaul opened #88 "bash kernel set x?"
Can we seriously turn off the `set -x` feature within the bash kernel?  It really screws up output with output you would expect to _not_ be there.

[2019-09-23 14:46] matt-long opened #90 "Support self-guided as well as in-person tutorials"
It would be nice if we can point people to this repo to enable self-guided instruction. I think we have a pretty solid draft of the content we might like.

Can we add a sphinx docs assembly of (some of) the notebooks into a sensible outline?

Considerations:
- I think we'd like to include NCAR-specific material, but clearly delineate it as such.

- Some of the "workflow" notebooks are more pedagog

[2019-09-23 17:02] #69 closed

[2019-09-23 19:12] jukent opened #91 "Edit tutorial notebooks to address common questions"
-- OHC remove dask mentions
-- Plotting, e.g. remove "tab:red" for colors, fig-size is in inches, add how-to set default values ...

[2019-09-23 21:58] #42 closed

[2019-09-25 20:31] kmpaul opened #92 "Remove need to change/update the user's base environment"
This is a potential headache for users who already have software installed in their base environment.  We need a way to make tutorials like this work without needing the user to maintain a special base on their own.

CC @jbaksta @andersy005 @jukent

[2019-09-25 20:33] kmpaul opened #93 "Remove event-specific information from repo and make stand-alone (self-guided)"
Now that the event is over, we should work to make the repo "stand-alone."  We need to remove any event-specific information from the repo, and we need to make the repository a "self-guided" tutorial.

[2019-09-25 20:33] kmpaul commented on #90
We should also remove event-specific information from this repo, obviously.

[2019-09-25 20:34] kmpaul commented on #93
Duplicate of #90.

[2019-09-25 20:34] #93 closed

[2019-09-25 22:04] kmpaul opened #94 "Update Pangeo kernel on JHub and use for tutorial"
Need the Pangeo environment/kernel on the JHub updated to include all of the packages that we need for this tutorial.

Also need to tailor this tutorial for this new kernel.

[2019-09-26 21:38] andersy005 commented on #94
https://github.com/NCAR/hpc-jupyter-kernels/pull/11

[2019-09-30 20:31] kmpaul commented on #90
https://drive.google.com/open?id=10Xk5f3c27BSGNftGXao5bnQMvF5WxZ3yEkmz9MTF1T4

[2019-10-03 18:29] #90 closed

[2019-10-03 18:29] #91 closed

[2019-10-07 20:39] #82 closed

[2019-10-07 21:55] andersy005 opened #96 "Update ssh tunnel scripts with option to select a default environment to use"
Currently, the ssh tunnel scripts in `scripts/jlab` require activating a conda environment with `jupyter` installed in it prior launching `./scripts/jlab/jlab-machine-name` script. We can improve the user experience by embedding this into the scripts themselves. One solution is to add an option for `conda_env_name` to activate prior launching the jupyter server, and adding a `conda activate $conda

[2019-10-07 23:06] matt-long commented on #96
I had this in a previous version of the scripts, but took it out once deciding that these scripts should launch from the conda base environment. I don't have to do `conda activate` before running the script, so I am somewhat skeptical of your assertion that that is necessary.

[2019-10-18 21:20] #29 closed

[2019-10-21 20:55] #88 closed

[2019-10-21 20:56] #86 closed

[2019-10-21 21:00] mnlevy1981 commented on #96
This is tied to #92, right? If we don't want users to change `(base)` then this functionality is needed.

@andersy005 I'm a little confused about how you worded the issue, though:

seems to imply you need to have access to `jupyter` locally. That's not true, is it? You need to launch `jupyter lab` on the remote machine in an environment with `jupyter` (and, as @matt-long points out, currently the

[2019-10-28 18:46] kmpaul commented on #94
Is this done?  Can we close this issue?

[2019-10-29 02:48] andersy005 commented on #94
Pinging @jbaksta

[2019-12-02 18:40] kmpaul commented on #96
Also, whether or not `base` is activated depends on how the user has set up conda.  For example, I have some old Python work that requires that I use the system-wide Python packages for the code to remain consistent.  In order to prevent my conda install on Cheyenne from interfering with system packages, I have to disable autoactivation of the `base` environment:

[code]

[2019-12-02 18:42] kmpaul commented on #96
...so, if it wasn't obvious from what I said, that means that I need to `conda activate base` before doing anything.

[2019-12-02 18:43] kmpaul commented on #96
It seems to me that the best solution to accommodate everyone is to have the `conda_env_name` default to `base`.

[2019-12-02 18:46] kmpaul commented on #96
@mnlevy1981 You are correct that you need `jupyter lab` in the _remote_ machine's conda environment.   But I actually think that was what @andersy005 meant.  I think @andersy005 actually meant that you need to have `jupyter` installed in the remote environment _before_ you run the `jlab-machine` script on your local machine.

[2019-12-02 18:55] kmpaul opened #98 "Pull SSH launch scripts into separate package"
Currently, the `jlab-machine` launch scripts (using SSH tunneling) ship with the Python tutorial content.  However, these scripts are separately useful outside of the tutorial.  I believe that these launch scripts should be a stand-alone package that is a dependency for the tutorial.

First, I think that we should pull the launch scripts out into a separate repo and then make this repo installable

[2020-01-06 19:36] kmpaul opened #99 "Curriculum for beginner, intermediate & advanced tracks?"
We've talked about this a lot in the past, but I think we need to come to a conclusion about how to proceed on this.  The issue here is that having a 2-3 day tutorial is not enough time to cover *both* beginner and intermediate topics.  One thought for discussion:

**Thought:** Beginner-level participation looks very different than intermediate- or advanced-level participation.  At the intermediat

[2020-01-06 22:31] #85 closed

[2020-02-15 22:28] andersy005 commented on #99
I recently came across a great curriculum for an [introduction to Python course](https://lerner.co.il/courses/introduction-to-python/) and I thought I would share it here. My hope is that we can use the list below in conjunction with the [official Python tutorial](https://docs.python.org/3/tutorial/) to come up with our own curriculum.

- **Data structures**
  - Interactive Python
  - Variables —

[2020-02-19 20:46] andersy005 commented on #99
A few days ago, someone put in a FOIA request to the NSA for their Python training materials and they got back a 400-page PDF of their training course. The PDF resides here: https://nsa.sfo2.digitaloceanspaces.com/comp3321.pdf

The very first line of the pdf:

😅

Since nbgallery is mentioned a lot in this printout, I presume that this is likely the same training material we heard about during the

[2020-02-19 20:50] kmpaul commented on #99
Nice!

[2020-02-19 21:01] jukent commented on #99
Thanks @andersy005 I will take a closer look at this. I am currently creating a draft of a notebook that covers python topics without using any packages.

[2020-02-27 18:08] kmpaul opened #103 "Change to a Nikola site"
I think we should change the tutorial site to a Nikola site.  The main reason being that Nikola is python, so getting the environment set up on our laptops to edit and add content is easy.  And we have experience with this with the Xdev blog.

[2020-02-27 18:08] kmpaul commented on #103
This will also make PRs #100 and #102 obsolete.

[2020-02-28 19:29] kmpaul commented on #103
Closed by #104

[2020-02-28 19:29] #103 closed

[2020-03-02 22:27] kmpaul opened #105 "Finish 0-30 Tutorial Content"
There is now a skeleton of the 0-30 tutorial in the files `z230-pt1.md` and `z230-pt2.md`.

There is still missing content in here, though, and someone needs to fill in the blanks.

That is currently missing includes:

- [x] Numpy coverage (Should this be here?)
- [x] Pandas coverage (Should this be here?)
- [x] Matplotlib + Cartopy  (Should this be here?)
- [ ] GitHub (last steps should be push u

[2020-03-02 22:27] kmpaul commented on #105
Also need to generate (maybe) slides for "static" material presented during the tutorial.

[2020-03-02 22:29] kmpaul opened #106 "Remove old Jekyll site"
Now that we have the Nikola site live, we can get rid of the old Jekyll site which lives in `docs/`.  However, we need to look through this directory to see if there is anything we should keep, such as the 'self-paced' guide that was previously developed.

[2020-03-02 22:30] kmpaul opened #107 "Re-use "old-contents"?"
There is a directory called "old-contents" in the `archived` directory.  What is in here?  Is there anything in there that we should keep?

Once everything has been retrieved from the `old-contents`, we should delete the archived directory.

[2020-03-02 22:32] kmpaul opened #108 "Announcement Update for Spring 2020 Tutorial"
- [x] We need to announce the Spring 2020 Tutorial again.

- [x] We need to contact registered participants to get confirmation of their registration.

[2020-03-02 23:23] kmpaul commented on #105
Decision:  Using Jupyter Notebooks, we will cover Numpy, netcdf4, Pandas, Matplotlib+Cartopy on Day 2 (not as part of the 0-30 content)

[2020-03-03 16:54] #106 closed

[2020-03-03 16:54] kmpaul commented on #107
Closed by #111

[2020-03-03 16:54] #107 closed

[2020-03-03 22:09] kmpaul opened #114 "Setup Instructions"
We need a setup instructions document.  It should probably be placed on the Nikola site:

`/site/pages/spring2020/instructions.md`

...or `*.rst` or similar.

[2020-03-06 16:43] kmpaul commented on #114
Probably need instructions for the Beginner tutorial *separately* from the Intermediate tutorial.

- The Beginner tutorial instructions will probably be minimal, namely just make sure people can install `miniconda` and (possibly) `git`.  (I say "possibly" for `git` because you can actually install `git` with `conda`.)

- The Intermediate tutorial probably requires `miniconda` instructions as well

[2020-03-09 21:49] jukent commented on #114
Similar to https://github.com/NCAR/ncar-python-tutorial/blob/master/README.md but only for personal computer (for beginner track day 1), tell people to go to miniconda download page, not having an environment for them (don't want to hide this process).

Is this simple enough that we just direct people here https://docs.conda.io/projects/conda/en/latest/user-guide/install/index.html

Do we need tes

[2020-03-09 21:53] jukent commented on #114
Here is the link to the blog, where the instructions will be hosted
https://ncar.github.io/ncar-python-tutorial/

[2020-03-09 21:55] jukent commented on #108
Include coronavirus contingency in email,

wait on this for one week because a lot can change with the health situation.

[2020-03-09 22:02] jukent commented on #105
Git conflicts:

Have them create branches of their work - usually copy paste file, but best practice for entertain 2 different train of thoughts is a separate branch - do old US way and new US way as 2 different wind chill formulae to motivate this.  Trying to emulate this can make it seem simpler than it is, maybe this is too advanced for day 1? Just show simple example, or link them to a better

[2020-03-09 22:04] jukent commented on #98
Not relevant for beginner tutorial.

[2020-03-09 22:10] jukent commented on #114
Also have them check git -version

Everyone on Windows need to have a terminal, probably do already to access Cheyenne.

[2020-03-09 22:11] kmpaul commented on #108
Yes.  Let's not pull the trigger on this too soon.  A lot can happen in a week.  And we will take our cue from UCAR leadership.

[2020-03-09 22:17] jukent commented on #105
Let people follow curiculae https://github.com/NCAR/ncar-python-tutorial/blob/master/curricula/z230-pt1.md so that they can reference if if they get stumbled on one step. Maybe make an image  of code blocks so that people can't copy paste but can look at their leisure (and KEEP UP), maybe these images also go on powerpoint slides.

Reinforce idea of not mixing tabs and spaces!

[2020-03-09 22:18] jukent commented on #105
Maybe name directory, spring2020tutorial instead of mysci

[2020-03-09 22:19] jukent commented on #114
Also include getting Github account if they don't already.

[2020-03-09 22:22] jukent commented on #105
Maybe we want to show open and close file before using 'with' context manager.

[2020-03-09 22:24] jukent commented on #105
Have them look at the header at some point

[2020-03-09 22:27] jukent commented on #105
step 39, windchill = formula, return windchill. Separation of concerns (compute and return on separate lines to reduce confusion)

[2020-03-09 22:33] jukent commented on #105
Suggestion for red, green, yellow post it notes to indicate needing help, being ready to move on, still working.

[2020-03-11 21:10] jukent commented on #105
Make sure computation functions are written in a way that is easy to read (assign constants to variable before doing arithmetic on them, for ex)

[2020-03-11 21:16] jukent commented on #105
Are pycache and gitignore high priority information?

[2020-03-11 21:29] jukent commented on #105
Need examples on usefulness of __init__.py

[2020-03-13 20:39] jukent commented on #114
I will have these written up in the self-paced script.

[2020-03-16 20:04] #108 closed

[2020-03-16 21:15] #94 closed

[2020-03-19 15:41] jukent opened #116 "Virtual Tutorial To-Do List - Part 1"
- [x] Identify all of parts, create an outline

- [x] Branch/PR just for part 1
         - pair programming review w @kmpaul
         - get xdev team to read/add missing content/create PR
         - repeat

- [x] Create Nikola md page for part 1

- [x] Reach out to Beta testers of part 1

- [ ] Post and Announcement

Repeat for part 2

References:

-  #105  -- for 0 to 30 tutorial content discussi

[2020-03-19 15:41] #99 closed

[2020-03-19 15:42] #105 closed

[2020-06-22 22:16] sherimickelson opened #119 "Grammar error"
On the landing page:
"or you are tired of tutorials **the** leap into advanced third-party packages"
Should "the" be "that"?  Or something else?

[2020-06-22 22:40] sherimickelson opened #120 "Grammar changes"
On the landing page:
"or you are tired of tutorials **the** leap into advanced third-party packages"
Should "the" be "that"? Or something else?

[2020-06-22 22:42] sherimickelson commented on #120
Under the "Why Python?" section under "Objected Oriented languages":
1. Should it be Object not Objected?
2.  " For every custom datatypes".  Should "datatypes" be plural?

[2020-06-22 22:43] mnlevy1981 commented on #120
@sherimickelson -- I had moved the previous version of this issue to https://github.com/NCAR/python-tutorial/issues/33 (this is the old repo for the python tutorial)

[2020-06-22 22:45] sherimickelson commented on #120
Ugh ... sorry I had too many windows open to notice.  I will close this issue.

[2020-06-22 22:45] #120 closed, assigned to nobody

[2020-06-29 21:25] kmpaul commented on #98
Look at paramiko for ssh usage in a portable way

[2020-07-13 20:43] mnlevy1981 commented on #98
I have scripts sitting in https://github.com/NCAR/pangeo/tree/casper-support/client-side but they are extremely fragile.

1. they don't seem to work for users who rely on `csh` as their default shell
2. some users with `bash` as default shell have reported issues

[2020-07-13 21:26] kmpaul opened #121 "Short Tutorial Seminar Series"
It's been proposed that we break up our tutorials into smaller chunks that are two-hour long segments.  Can we develop a curriculum of "seminars" that gets people to the "I'm ready for a hackathon!" stage.

[2020-07-13 21:29] kmpaul commented on #121
See this doc:  https://hackmd.io/EobPwspVRZGl3f3bgPFH1g

[2020-07-15 01:59] andersy005 commented on #98
FYI, I started working on this in https://github.com/NCAR/jupyter-forward. Looking for collaborators ;)

[2020-07-20 22:47] kmpaul commented on #98
Closing this issue with the creation of https://github.com/NCAR/jupyter-forward

[2020-07-20 22:47] #98 closed

[2020-08-10 21:09] kmpaul commented on #92
We've verified that we do not need to touch the base environment.

[2020-08-10 21:17] andersy005 commented on #96
Closing this as it's being handled in https://github.com/NCAR/jupyter-forward

[2020-08-10 21:17] #96 closed

[2020-09-02 20:56] kmpaul commented on #121
I've started a Google Doc to flesh out the seminar series for the first 3-6 months:

https://docs.google.com/document/d/1sEYXyT7SMbwJdgY-poGf--tYkIBn9zN-srnaLFxLa2o/edit#

[2020-10-05 20:48] jukent opened #122 "Tutorial announcements"
CISL WIP
Staff Notes Daily
Communique
Tweet it

[2020-10-05 20:49] #116 closed

[2020-10-05 21:16] dcherian commented on #122
Zulip?

[2020-11-30 19:27] jukent commented on #121
This is moved to https://github.com/NCAR/python-tutorial so should we close this issue?

[2020-11-30 22:30] kmpaul commented on #121
Yeah.  Maybe we should reference this issue in the https://github.com/NCAR/python-tutorial issue and then close this.

[2020-12-01 19:45] #121 closed, assigned to nobody

[2020-12-14 20:38] #122 closed, assigned to jukent

[2021-01-25 22:53] #92 closed